body {
    background-color: rgb(245, 232, 190);
    color: #171414;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #171414;
    font-family: Georgia, 'Georgia';
    font-size: 36px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
}

h2 {
    color: #171414;
    font-family: Georgia, 'Georgia';
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

h3 {font-size: 16px;
    margin-bottom: 3px;
}
ul,
ol {margin-top: 3px}

p {
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 15px;
}  

.tagline {
    text-align: center;
    font-size: 25px;
}

.recipe-card {
    background-color: #f8f5ee;
    border-radius: 12px;
    padding: 20px;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(15, 14, 14, 0.15);
}

nav a {
   margin-right: 10px;
}

.welcome-card {
    background-color: #f8f5ee;
    border-radius: 12px;
    padding: 20px;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 700px;
}

.welcome {
    font-family: Georgia, 'Georgia';
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.welcome-subtitle {
    font-family: Georgia, 'Georgia';
    font-style: italic;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.closing {
    font-family: Georgia, 'Georgia';
    text-align: center;
    font-weight: bold;
}